.header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    background: #333;
    color: white
} 

.content-row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 0 auto;
}

.card-content {
    overflow: hidden;
    position: relative;
    width: 100%;
    background: white;
    margin: 5px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 5px 8px 8px #d6d4d4;
    text-align: center
}

@media(min-width: 760px) {
    .card-content {
        width: 30%
    }
}

.close-thik {
  color: #777;
  font: 25px/100% arial, sans-serif;
  position: absolute;
  right: 5px;
  top: 5px;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer
}

.close-thik:hover {
    color: black
}

.link a{
    text-decoration: none;
    color: greenyellow;
    font-size: 20px;
    text-decoration: underline
}
